# 项目排除路径
/.gradle/
/build/
/out/
/out/production/classes/
/.idea/.gitignore
/.idea/.name
/run/saves/Test/playerdata/380df991-f603-344c-a090-369bad2a924a.dat
/run/saves/Test/playerdata/380df991-f603-344c-a090-369bad2a924a.dat_old
/run/saves/Test/advancements/380df991-f603-344c-a090-369bad2a924a.json
/run/saves/Test/stats/380df991-f603-344c-a090-369bad2a924a.json
/run/logs/2025-02-08-2.log.gz
/run-data/logs/2025-02-08-2.log.gz
/run/logs/2025-02-08-3.log.gz
/run-data/logs/2025-02-08-3.log.gz
/run/logs/2025-02-08-4.log.gz
/run-data/logs/2025-02-08-4.log.gz
/run/logs/2025-02-08-5.log.gz
/run-data/logs/2025-02-08-5.log.gz
/run/logs/2025-02-08-6.log.gz
/run-data/logs/2025-02-08-6.log.gz
/run/logs/2025-02-08-7.log.gz
/run-data/logs/2025-02-08-7.log.gz
/run/logs/2025-02-08-8.log.gz
/run-data/logs/2025-02-08-8.log.gz
/run/logs/2025-02-08-9.log.gz
/run-data/logs/2025-02-08-9.log.gz
/run/logs/2025-02-08-10.log.gz
/run-data/logs/2025-02-08-10.log.gz
/run/logs/2025-02-08-11.log.gz
/run-data/logs/2025-02-08-11.log.gz
/run/logs/2025-02-08-12.log.gz
/run-data/logs/2025-02-08-12.log.gz
/run/logs/2025-02-08-13.log.gz
/run-data/logs/2025-02-08-13.log.gz
/run/logs/2025-02-08-14.log.gz
/run-data/logs/2025-02-08-14.log.gz
/run/logs/2025-02-08-15.log.gz
/run-data/logs/2025-02-08-15.log.gz
/run/logs/2025-02-08-16.log.gz
/run-data/logs/2025-02-08-16.log.gz
/run-data/logs/2025-02-08-17.log.gz
/run/logs/2025-02-09-2.log.gz
/run-data/logs/2025-02-09-2.log.gz
/run/logs/2025-02-09-3.log.gz
/run-data/logs/2025-02-09-3.log.gz
/run/logs/2025-02-09-4.log.gz
/run-data/logs/2025-02-09-4.log.gz
/run/logs/2025-02-09-5.log.gz
/run-data/logs/2025-02-09-5.log.gz
/run/logs/2025-02-09-6.log.gz
/run-data/logs/2025-02-09-6.log.gz
/run/logs/2025-02-09-7.log.gz
/run-data/logs/2025-02-09-7.log.gz
/run/logs/2025-02-09-8.log.gz
/run-data/logs/2025-02-09-8.log.gz
/run/logs/2025-02-09-9.log.gz
/run-data/logs/2025-02-09-9.log.gz
/run/logs/2025-02-09-10.log.gz
/run-data/logs/2025-02-09-10.log.gz
/run/logs/2025-02-09-11.log.gz
/run-data/logs/2025-02-09-11.log.gz
/run/logs/2025-02-09-12.log.gz
/run-data/logs/2025-02-09-12.log.gz
/run/logs/2025-02-09-13.log.gz
/run-data/logs/2025-02-09-13.log.gz
/run/logs/2025-02-09-14.log.gz
/run-data/logs/2025-02-09-14.log.gz
/run/logs/2025-02-09-15.log.gz
/run-data/logs/2025-02-09-15.log.gz
/run/logs/2025-02-09-16.log.gz
/run-data/logs/2025-02-09-16.log.gz
/run/logs/2025-02-09-17.log.gz
/run-data/logs/2025-02-09-17.log.gz
/run/logs/2025-02-09-18.log.gz
/run-data/logs/2025-02-09-18.log.gz
/run/logs/2025-02-09-19.log.gz
/run-data/logs/2025-02-09-19.log.gz
/run/logs/2025-02-09-20.log.gz
/run-data/logs/2025-02-09-20.log.gz
/run/logs/2025-02-09-21.log.gz
/run-data/logs/2025-02-09-21.log.gz
/run/logs/2025-02-09-22.log.gz
/run-data/logs/2025-02-09-22.log.gz
/run/logs/2025-02-09-23.log.gz
/run-data/logs/2025-02-09-23.log.gz
/run/logs/2025-02-09-24.log.gz
/run-data/logs/2025-02-09-24.log.gz
/run-data/logs/2025-02-09-25.log.gz
/run-data/logs/2025-02-09-26.log.gz
/run/screenshots/2025-02-09_23.40.18.png
/run/screenshots/2025-02-09_23.40.33.png
/run/screenshots/2025-02-09_23.40.35.png
/run/screenshots/2025-02-09_23.42.11.png
/run/screenshots/2025-02-09_23.42.14.png
/run/screenshots/2025-02-09_23.42.57.png
/run/screenshots/2025-02-09_23.43.55.png
/run/screenshots/2025-02-09_23.43.57.png
/run-data/logs/2025-02-10-1.log.gz
/run/config/jei/world/local/Test/bookmarks.ini
/run/saves/Test/data/capabilities.dat
/run/saves/Test/DIM1/data/capabilities.dat
/run/saves/Test/DIM-1/data/capabilities.dat
/run-data/logs/kubejs/client.log
/run-data/kubejs/config/common.properties
/.idea/compiler.xml
/run/crash-reports/crash-2025-02-08_14.06.44-client.txt
/run/logs/debug.log
/run-data/logs/debug.log
/run/logs/debug-1.log.gz
/run-data/logs/debug-1.log.gz
/run/logs/debug-2.log.gz
/run-data/logs/debug-2.log.gz
/run/logs/debug-3.log.gz
/run-data/logs/debug-3.log.gz
/run/logs/debug-4.log.gz
/run-data/logs/debug-4.log.gz
/run/logs/debug-5.log.gz
/run-data/logs/debug-5.log.gz
/run-data/local/kubejs/dev.properties
/run-data/kubejs/startup_scripts/example.js
/.idea/modules/extended-tinker.main.iml
/.idea/modules/extended-tinker.test.iml
/run/config/fml.toml
/run-data/config/fml.toml
/run/config/forge-client.toml
/run/config/forge-common.toml
/run/config/forge-resource-caching.toml
/run-data/config/forge-resource-caching.toml
/run/saves/Test/serverconfig/forge-server.toml
/.idea/gradle.xml
/run/config/jade/hide-blocks-1902.json
/run/config/jade/hide-entities-1902.json
/run/hs_err_pid3532.log
/run/hs_err_pid15168.log
/run/hs_err_pid15640.log
/run/hs_err_pid15880.log
/run/hs_err_pid16908.log
/run/saves/Test/icon.png
/run/config/jei/ingredient-list-mod-sort-order.ini
/run/config/jei/ingredient-list-type-sort-order.ini
/run/config/jade/jade.json
/run/config/jei/jei-client.ini
/run/config/jei/jei-colors.ini
/run/config/jei/jei-debug.ini
/run/config/jei/jei-mod-id-format.ini
/run/saves/Test/serverconfig/jei-server.toml
/run/logs/latest.log
/run-data/logs/latest.log
/run/saves/Test/level.dat
/run/saves/Test/level.dat_old
/run/config/mantle-client.toml
/run/saves/Test/serverconfig/mantle-server.toml
/.idea/misc.xml
/.idea/modules.xml
/run/options.txt
/run/config/jade/plugins.json
/run/saves/Test/entities/r.0.0.mca
/run/saves/Test/poi/r.0.0.mca
/run/saves/Test/region/r.0.0.mca
/run/saves/Test/poi/r.0.1.mca
/run/saves/Test/region/r.0.1.mca
/run/saves/Test/entities/r.0.-1.mca
/run/saves/Test/poi/r.0.-1.mca
/run/saves/Test/region/r.0.-1.mca
/run/saves/Test/entities/r.-1.0.mca
/run/saves/Test/poi/r.-1.0.mca
/run/saves/Test/region/r.-1.0.mca
/run/saves/Test/poi/r.-1.1.mca
/run/saves/Test/region/r.-1.1.mca
/run/saves/Test/entities/r.-1.-1.mca
/run/saves/Test/poi/r.-1.-1.mca
/run/saves/Test/region/r.-1.-1.mca
/run/saves/Test/data/raids.dat
/run/saves/Test/DIM-1/data/raids.dat
/run/saves/Test/DIM1/data/raids_end.dat
/run-data/kubejs/README.txt
/run/config/jei/recipe-category-sort-order.ini
/run-data/rhino.local.properties
/.idea/runConfigurations/runClient.xml
/.idea/runConfigurations/runData.xml
/.idea/runConfigurations/runGameTestServer.xml
/.idea/runConfigurations/runServer.xml
/run-data/logs/kubejs/server.log
/run/saves/Test/session.lock
/run/config/jade/sort-order.json
/run-data/logs/kubejs/startup.log
/run/config/tconstruct-client.toml
/run/config/tconstruct-common.toml
/run/usercache.json
/run/usernamecache.json
/.idea/vcs.xml
/run/logs/2025-02-13-5.log.gz
